<div fxFlex fxLayout="row" style="margin-top: 50px !important;">
    <button mat-button (click)="toMeditation()" fxFlex="30%" fxLayoutAlign="center center"
        class="course-item-meditation" style=" width: 400px; height: 500px; margin-left: 40px;">
        <span fxLayout="column" fxLayoutAlign="center center" style="font-size: 48px; ">
            Медитация
            <mat-icon style="font-size: 150px; padding-right: 150px; padding-bottom: 150px;">self_improvement</mat-icon>
        </span>
    </button>
    <button mat-button (click)="toPsy()" fxFlex="30%" fxLayoutAlign="center center" class="course-item-psy"
        style="width: 400px; height: 500px; margin-left: 40px;">
        <span fxLayout="column" fxLayoutAlign="center center" style="font-size: 48px; ">
            Психология
            <mat-icon style="font-size: 150px; padding-right: 150px; padding-bottom: 150px;">psychology</mat-icon>
        </span>
    </button>
    <button mat-button (click)="toFinish()" fxFlex="30%" fxLayoutAlign="center center" class="course-item-finish"
        style=" width: 400px; height: 500px; margin-left: 40px;">
        <span fxLayout="column" fxLayoutAlign="center center" style="font-size: 48px; ">
            Ты - супергерой!
            <mat-icon style="font-size: 150px; padding-right: 150px; padding-bottom: 150px;">star_outline</mat-icon>
        </span>
    </button>

</div>