<!-- Toolbar -->
<div fxFlexFill fxLayout="row" style="text-align: center;">
  <mat-icon *ngIf="router.url !== '/'" (click)="navigateBack()" class="standart-text">keyboard_backspace</mat-icon>
  <div fxFlex="28%" fxFlexAlign="end" style="margin-bottom: 30px; margin-left: 10px;">
    <div fxLayout="column" fxFlexAlign="start" fxLayoutAlign="start start" class="user-info"
      style=" width: 450px; height: 110px;margin-bottom: 10px;">

      <span style="margin-left: 10px;">
        Достижения на сегодня:
      </span>
      <span style="margin-left: 30px;">
        <mat-icon style="padding-right: 10px;">self_improvement</mat-icon>Медитация: 2 / 15 урока пройдено
      </span>
      <span style="margin-left: 30px;">
        <mat-icon style="padding-right: 10px;">psychology</mat-icon>Психология: 5 / 10 уроков пройдено
      </span>
      <span style="margin-left: 30px;">
        <mat-icon style="padding-right: 10px;">star_outline</mat-icon>Почувствуй себя супергероем: 10 / 10 пройдено
      </span>

    </div>
  </div>
  <div fxFlex fxLayout="column">
    <img fxFlex="nogrow" fxFlexAlign="center" fxLayoutAlign="center center"
      src="https://static.tildacdn.com/tild3966-6439-4338-a265-383465653932/noun_245922_11a0ba.png" width="100px"
      height="100px">
  </div>

  <div fxFlex="30%" fxLayout="column">
    <app-user-actions fxFlex fxFlexAlign="end"></app-user-actions>
  </div>

</div>