<!-- Toolbar -->
<!-- <div style="background: darkkhaki;"> -->
<div *ngIf="authorize; else authPage">
  <div class="header" style="min-height: 120px; max-height: 100px; min-width: min-content;">
    <app-logo></app-logo>
  </div>
  <div class="navigate-bar" style="min-height: 60px; max-height: 200px; ">
    <app-nav-bar></app-nav-bar>
  </div>
  <router-outlet></router-outlet>
  <!-- <div fxFlex="20">
    2222222222
  </div>

  <div fxFlex="60" style="background: rgb(66, 64, 38);">
    <div fxFlex="100px" class="div" style="background: cadetblue;">
      первый
    </div>
    <div fxFlex class="div" style="background: blue;">
      второй
    </div>
    <div fxFlex class="nogrow" style="background: crimson;">
      третий
    </div>
  </div>
  <div fxFlex style="background: rgb(44, 44, 43);">
    2020 - н.в
  </div> -->

</div>
<ng-template #authPage> 
  <app-auth></app-auth>
</ng-template>